{% extends 'master/base.html' %}

{% block title %}
    Teacher List
{% endblock title %}


{% block body %}

    <h1>Teacher List</h1>

    <a href="{% url 'add_teacher' %}" class="btn btn-success">
        Add Teacher
    </a>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Teacher ID</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for data in teacher_list %}

            <tr>

                <td>{{ forloop.counter }}</td>

                <td>{{ data.name }}</td>

                <td>{{ data.teacher_id }}</td>

                <td>
                    {% if data.image %}
                        <img src="{{ data.image.url }}" width="50px" alt="">
                    {% endif %}
                </td>

                <td>
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

{% endblock body %}